<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - WebApp App</title>

    <link rel="shortcut icon" href="~/Content/Images/favicon.ico">

    @Styles.Render("~/Content/css")

    @RenderSection("css", required: false)

    <!-- HTML5 Shiv and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    @Html.Partial("_Loader")

    <section>
        <div class="container-alt">

            @RenderBody()

        </div>
    </section>

    <script>
        var resizefunc = [];
    </script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/scripts")
    @Scripts.Render("~/bundles/app")
    @RenderSection("scripts", required: false)
</body>
</html>
